==
Babel==2.12.1
Brotli==1.1.0
DeepPurpose==0.1.5
GitPython==3.1.43
Jinja2==3.1.2
Levenshtein==0.25.1
Mako==1.3.2
Markdown==3.4.4
MarkupSafe==2.1.2
PySocks==1.7.1
PyTDC==0.3.8
PyYAML==6.0.1
Pygments==2.16.1
QtPy==2.4.0
SQLAlchemy==2.0.28
SQLAlchemy==2.0.35
Send2Trash==1.8.2
Sphinx==7.2.6
Werkzeug==3.0.0
absl-py==2.0.0
accelerate==0.34.2
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
alabaster==0.7.13
alembic==1.13.1
anndata==0.10.9
annotated-types==0.5.0
anyio==4.0.0
argon2-cffi-bindings==21.2.0
argon2-cffi==23.1.0
array_api_compat==1.8
arrow==1.2.3
asttokens==2.4.0
async-generator==1.10
async-lru==2.0.4
async-timeout==4.0.3
attrs==23.1.0
autocommand==2.2.2
autograd-gamma==0.5.0
autograd==1.6.2
autopep8==2.0.4
ax-platform==0.3.7
backcall==0.2.0
backports.tarfile==1.2.0
beartype==0.14.1
beautifulsoup4==4.12.2
better-abc==0.0.3
bleach==6.0.0
blosc2==2.5.1
botorch==0.10.0
cachetools==5.3.1
certifi==2022.12.7
certifi==2024.8.30
certipy==0.1.3
cffi==1.16.0
cffi==1.17.1
chardet==5.2.0
charset-normalizer==2.1.1
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.0.0
colorama==0.4.6
comm==0.1.4
contourpy==1.1.1
contourpy==1.3.0
cryptography==42.0.5
cycler==0.12.0
cycler==0.12.1
datasets==2.21.0
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
descriptastorus==2.5.0.25
dgl==1.1.2+cu118
dglgo==0.0.2
dgllife==0.3.2
dill==0.3.8
docker-pycreds==0.4.0
docutils==0.20.1
einops==0.8.0
exceptiongroup==1.1.3
executing==1.2.0
fancy-einsum==0.0.3
fastjsonschema==2.18.0
filelock==3.9.0
fonttools==4.42.1
fonttools==4.53.1
formulaic==1.0.2
fqdn==1.5.1
freetype-py==2.3.0
frozendict==2.3.8
frozenlist==1.4.1
fsspec==2023.12.1
future==1.0.0
fuzzywuzzy==0.18.0
gitdb==4.0.11
google-auth-oauthlib==1.0.0
google-auth==2.23.2
gpytorch==1.11
greenlet==3.0.3
greenlet==3.1.0
grpcio==1.59.0
h2==4.1.0
h5py==3.11.0
hpack==4.0.0
huggingface-hub==0.24.6
hyperframe==6.0.1
hyperopt==0.2.7
idna==3.10
idna==3.4
imagesize==1.4.1
importlib-metadata==6.8.0
importlib-resources==6.1.0
importlib_metadata==8.0.0
importlib_resources==6.4.0
importlib_resources==6.4.5
inflect==7.3.1
intel-openmp==2021.4.0
interface-meta==1.3.0
ipykernel==6.25.2
ipython-genutils==0.2.0
ipython==8.15.0
ipywidgets==8.1.1
isoduration==20.11.0
isort==5.12.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jaraco.text==3.12.1
jaxtyping==0.2.33
jedi==0.19.0
joblib==1.3.2
joblib==1.4.2
json5==0.9.14
jsonpointer==2.4
jsonschema-specifications==2023.7.1
jsonschema==4.19.1
jupyter-console==6.6.3
jupyter-events==0.7.0
jupyter-lsp==2.2.0
jupyter-telemetry==0.1.0
jupyter==1.0.0
jupyter_client==8.3.1
jupyter_core==5.3.2
jupyter_server==2.7.3
jupyter_server_terminals==0.4.4
jupyterhub==4.0.2
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.9
jupyterlab==4.0.6
jupyterlab_server==2.25.0
kiwisolver==1.4.5
kiwisolver==1.4.7
legacy-api-wrap==1.4
lifelines==0.29.0
linear-operator==0.5.1
littleutils==0.2.2
llvmlite==0.42.0
lmdb==1.5.1
markdown-it-py==3.0.0
matplotlib-inline==0.1.6
matplotlib==3.8.0
matplotlib==3.9.2
mdurl==0.1.2
mistune==3.0.1
mkl==2021.4.0
mock==5.1.0
more-itertools==10.3.0
mpmath==1.3.0
msgpack==1.1.0
multidict==6.0.5
multipledispatch==1.0.0
multiprocess==0.70.16
munkres==1.1.4
mypy-extensions==1.0.0
natsort==8.4.0
nbclient==0.8.0
nbconvert==7.16.2
nbconvert==7.8.0
nbformat==5.9.2
ndindex==1.8
nest-asyncio==1.5.8
networkx==3.0
networkx==3.2.1
nltk==3.8.1
notebook==7.0.4
notebook_shim==0.2.3
numba==0.59.1
numexpr==2.10.1
numpy==1.23.5
numpydoc==1.6.0
oauthlib==3.2.2
ogb==1.3.6
opt-einsum==3.3.0
ordered-set==4.1.0
outdated==0.2.2
overrides==7.4.0
packaging==24.1
packaging==24.1
pandas-flavor==0.6.0
pandas==2.2.2
pandas==2.2.3
pandocfilters==1.5.0
parso==0.8.3
patsy==0.5.6
pdf2image==1.17.0
pickleshare==0.7.5
pillow==10.4.0
pip==24.2
platformdirs==3.10.0
platformdirs==4.2.2
plotly==5.22.0
prettytable==3.10.2
prometheus-client==0.17.1
prompt-toolkit==3.0.39
protobuf==4.24.3
psutil==5.9.5
pure-eval==0.2.2
py-cpuinfo==9.0.0
py4j==0.10.9.7
pyOpenSSL==24.0.0
pyarrow==17.0.0
pyasn1-modules==0.3.0
pyasn1==0.5.0
pycairo==1.27.0
pycodestyle==2.11.0
pycparser==2.21
pycparser==2.22
pydantic==2.4.2
pydantic_core==2.10.1
pyg-lib==0.4.0+pt23cu118
pynndescent==0.5.12
pyparsing==3.1.1
pyparsing==3.1.4
pyre-extensions==0.0.30
pyro-api==0.1.2
pyro-ppl==1.9.1
python-Levenshtein==0.25.1
python-dateutil==2.9.0
python-dateutil==2.9.0.post0
python-json-logger==2.0.7
pytz==2024.2
pywin32==306
pywinpty==2.0.11
pyzmq==25.1.1
qtconsole==5.4.4
rapidfuzz==3.9.7
rdkit-pypi==2022.9.5
rdkit==2024.3.5
referencing==0.30.2
regex==2023.10.3
reportlab==4.2.2
requests-oauthlib==1.3.1
requests==2.32.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.8.0
rlPyCairo==0.2.0
rpds-py==0.10.3
rsa==4.9
ruamel.yaml.clib==0.2.7
ruamel.yaml==0.17.33
safetensors==0.4.5
scanpy==1.5.1
scikit-learn==1.3.1
scikit-learn==1.5.2
scipy==1.13.1
seaborn==0.13.2
sentencepiece==0.2.0
sentry-sdk==2.10.0
setproctitle==1.3.3
setuptools-scm==8.1.0
setuptools==72.1.0
setuptools==74.1.2
six==1.16.0
smmap==5.0.1
sniffio==1.3.0
snowballstemmer==2.2.0
soupsieve==2.5
sphinxcontrib-applehelp==1.0.7
sphinxcontrib-devhelp==1.0.5
sphinxcontrib-htmlhelp==2.0.4
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.6
sphinxcontrib-serializinghtml==1.1.9
stack-data==0.6.2
statsmodels==0.14.3
subword-nmt==0.3.8
sympy==1.12
tables==3.9.2
tabulate==0.9.0
tbb==2021.11.0
tenacity==8.5.0
tensorboard-data-server==0.7.1
tensorboard==2.14.1
terminado==0.17.1
threadpoolctl==3.2.0
threadpoolctl==3.5.0
tiledb==0.32.0
tiledbsoma==0.1.22
tinycss2==1.2.1
tokenizers==0.19.1
tomli==2.0.1
tomli==2.0.1
torch==2.3.0+cu118
torch_cluster==1.6.3+pt23cu118
torch_geometric==2.4.0
torch_scatter==2.1.2+pt23cu118
torch_sparse==0.6.18+pt23cu118
torch_spline_conv==1.2.2+pt23cu118
torchaudio==2.3.0+cu118
torchvision==0.18.0+cu118
tornado==6.3.3
tqdm==4.66.5
traitlets==5.10.1
transformer-lens==2.4.1
transformers==4.44.2
typeguard==2.13.3
typeguard==4.3.0
typer==0.9.0
typing-inspect==0.9.0
typing_extensions==4.12.2
typing_extensions==4.12.2
typing_extensions==4.8.0
tzdata==2024.1
umap-learn==0.5.6
umap==0.1.1
unicodedata2==15.1.0
uri-template==1.3.0
urllib3==1.26.13
urllib3==2.2.3
wandb==0.17.4
wcwidth==0.2.7
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.3
wget==3.2
wheel==0.43.0
wheel==0.44.0
widgetsnbextension==4.0.9
win-inet-pton==1.1.0
wrapt==1.16.0
xarray==2024.7.0
xgboost==2.0.3
xxhash==3.5.0
yarl==1.9.11
zipp==3.17.0
zipp==3.19.2
zipp==3.20.2
zstandard==0.23.0